<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<!-- Uncomment the below line to run the tests parallely -->
<!-- <suite name="Cleartrip Test Suite" thread-count="2" parallel="tests"> -->

<suite name="Suite" parallel="none">
	<!-- <test name="FirefoxTest">
		<parameter name="browser" value="FIREFOX" />
		<classes>
			<class name="com.coffeebeans.qa.assignment.tests.ClearTripFlightTest" />
		</classes>
	</test> -->
	<test name="ChromeTest">
		<parameter name="browser" value="CHROME" />
		<classes>
			<class name="com.coffeebeans.qa.assignment.tests.ClearTripFlightTest" />
		</classes>
	</test>
	<!-- <test name="HtmlUnitTest">
		<parameter name="browser" value="HTMLUNIT" />
		<classes>
			<class name="ClerTripFlightTest" />
		</classes>
	</test> -->
</suite>